<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:component-scan base-package="com.yc"></context:component-scan>

	<!-- spring mvc 的注解驱动 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- 处理静态资源  css,js,jpg -->
	<mvc:default-servlet-handler/>

	<!-- JSP 视图解析器 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<!-- JSTL 标签支持属性 -->
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<!-- 视图名前缀   web路径   WEB-INF/jsp 表示 jsp页面存放的路径    /WEB-INF/jsp/hello.jsp -->
		<property name="prefix" value="/WEB-INF/jsp/" />
		<!-- 视图名后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>

</beans>