<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace 命名空间  其实就是映射文件在项目中地址 -->
<mapper namespace="com.lzy.damai.dao.OrderitemMapper">

	<resultMap type="com.lzy.damai.bean.Orderitem" id="baseMap">
		<association property="product" autoMapping="true" column="pid"
			select="com.lzy.damai.dao.ProductMapper.selectBypid" fetchType="lazy"></association>
	</resultMap>
	
	<select id="selectByOid" resultMap="baseMap">
		select * from orderitem where oid=#{oid}
	</select>
	
	
	
</mapper>