<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace 命名空间  其实就是映射文件在项目中地址 -->
<mapper namespace="com.yc.damai.dao.ProductMapper">

	<!-- 查询所有商品 -->
	<select id="selectAll" resultType="com.yc.damai.bean.Product">
		select * from product
	</select>

</mapper>