# found duplicate key spring
# in 'reader', line 8, column 1:
# 重复的键值 spring

server:
   port: 8000

spring:
  application:
     name: ebuy-index
  datasource:
     url: jdbc:mysql://127.0.0.1/C76-S3-Ply-ebuy?serverTimezone=UTC&CharacterEncoding=UTF-8&useSSL=false
     username: root
     password: a
     driver-class-name: com.mysql.jdbc.Driver

mybatis:
  #实体类的路径
  type-aliases-package: com.yc.ebuy.bean
  configuration:
     map-underscore-to-camel-case: true
  
# 日志配置
logging:
  level:
    com:
      yc:
        ebuy:
          dao: debug
          web: warn

# 开启声明式熔断降级开关
feign:
  hystrix:
    enabled: true
    
    
test: 测试数据22222

management:
  endpoint:
    shutdown:
      enabled: false
  endpoints:
    web:
      exposure:
        include: "*"