@CHARSET "UTF-8";
.help-main p {
		line-height: 50px;
	}
	.help-main input{
		width:137px;
		height:20px;
		font-size:16px;
	}
	.help-main span{
		font-size:16px;
	}
	.help-main select{
		width:200px;
		height:25px;
		font-size:16px;
	}
	#updateButton{
		width:100px;
		height:50px;
		font-size:16px;
	}
	#uemail{
		width:200px;
	}