<!DOCTYPE html>
<!-- 在 html标签中加入 thymeleaf 的命名空间      xmlns ==>  xml   name  spase -->
<html lang="en" xmlns:th="www.thymeleaf.org">
<!-- 定义代码块  th:fragment="head"  -->
<head th:fragment="head">
	<meta charset="UTF-8">
	<title>盒老师</title>
	<meta name="keywords" content="盒老师">
	<meta name="content" content="盒老师">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link type="text/css" rel="stylesheet" href="css/login.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>

<div class="logo"><a href="#"><img src="images/logo.png" width="114" height="54" border="0"></a></div>

</body>
</html>