<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace 命名空间  其实就是映射文件在项目中地址 -->
<mapper namespace="com.yc.damai.dao.CategoryMapper">

	<resultMap type="com.yc.damai.bean.Category" id="baseMap">
		<!-- select 属性用于指定被关联的表的查询sql的id -->
		<collection property="csItems" column="cid" autoMapping="true" 
			select="selectCsitemByCid"></collection>
	</resultMap>
	
	<!-- select * from categorysecond   -->
	
	<select id="selectById" resultMap="baseMap">
		select * from category where cid=#{cid}
	</select>
	
	<select id="selectCsitemByCid" resultType="com.yc.damai.bean.Categorysecond">
		select * from categorysecond where cid=#{cid}
	</select>
	
</mapper>