<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace 命名空间  其实就是映射文件在项目中地址 -->
<mapper namespace="com.yc.damai.dao.OrdersMapper">

	<resultMap type="com.yc.damai.bean.Orders" id="baseMap">
		<!-- id 用于指定主键 -->
		<id column="oid" property="oid"/>
		<result column="total" property="total"/>
	
		<collection property="items" autoMapping="true" column="oid"
			select="com.yc.damai.dao.OrderitemMapper.selectByOid" fetchType="lazy"></collection>
	</resultMap>
	
	<select id="selectByUid" resultMap="baseMap">
		select * from orders where uid=#{uid}
	</select>
	
	
	
</mapper>