<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace 命名空间  其实就是映射文件在项目中地址 -->
<mapper namespace="com.yc.damai.dao.ProductMapper">

<!-- 
log4j   log for java
根日志输出，使用 debug 模式
log4j.rootLogger = debug,stdout

log4j.appender.stdout = org.apache.log4j.ConsoleAppender
log4j.appender.stdout.Target = System.out
log4j.appender.stdout.layout = org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern = [%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} method:%l%n%m%n

 -->

	<!-- 查询所有商品 -->
	<select id="selectAll" resultType="com.yc.damai.bean.Product">
		select * from product
	</select>
	
	<!-- 根据商品id 查一个商品   命名参数   #{pid} -->
	<select id="selectByPid" resultType="com.yc.damai.bean.Product">
		select * from product where pid = #{pid}
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>