<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace 命名空间  其实就是映射文件在项目中地址 -->
<mapper namespace="com.yc.damai.dao.ProductMapper">

<!-- 
log4j   log for java
根日志输出，使用 debug 模式
log4j.rootLogger = debug,stdout

log4j.appender.stdout = org.apache.log4j.ConsoleAppender
log4j.appender.stdout.Target = System.out
log4j.appender.stdout.layout = org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern = [%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} method:%l%n%m%n

 -->
 
 	<!-- 手动映射配置 -->
 	<resultMap id="baseMapper" type="com.yc.damai.bean.Product">
 		<!-- property 定义实体类 属性名     column 数据库的字段名 -->
 		<result property="marketPrice" column="market_price"></result>
 		<result property="shopPrice" column="shop_price"></result>
 		<result property="isHot" column="is_hot"></result>
 	</resultMap>

	<!-- 查询所有商品 -->
	<select id="selectAll" resultMap="baseMapper">
		select * from product
	</select>
	
	<!-- 根据商品id 查一个商品   命名参数   #{pid} -->
	<select id="selectByPid" resultMap="baseMapper">
		select * from product where pid = #{pid}
	</select>
	
	<insert id="create">
		insert into product values(null,#{pname},#{marketPrice},#{shopPrice},
		#{image},#{pdesc},#{isHot},#{pdate},#{csid})
	</insert>
	
	
	<!-- 动态SQL相关标签 
		<if></if>
		<choose></choose>
		<foreach></foreach>
		<where></where>
		<set></set>
		<sql></sql>
		<include></include>
		<selectKey></selectKey> -->
	
	<!-- 传入的参数 是实体对象 -->
	<select id="selectByObj" resultType="com.yc.damai.bean.Product">
	
		select * from product
		
		<where>
			<if test="pname != null">
				and pname like #{pname}
			</if>
			<if test="pdesc != null">
				and pdesc like #{pdesc}
			</if>
		</where>
		
	</select>
	
	<select id="selectByFlag" resultType="com.yc.damai.bean.Product">
	
		<!-- 查询 is_hot  
			flag 参数== 1： 精确查询 is_hot = ?  
			flag 参数== 2： 精确查询 is_hot like ?
			flag 参数== 3： 精确查询 is_hot is null ?
			flag 参数== 4： 精确查询 is_hot is not null ?
		-->
		select * from product
		
		<where>
			<choose>
				<when test="flag == 1">
					is_hot = #{isHot}
				</when>
				<when test="flag == 2">
					is_hot like #{isHot}
				</when>
				<when test="flag == 3">
					is_hot is null
				</when>
				<when test="flag == 4">
					is_hot is not null
				</when>
				<otherwise>
					is_hot = 1
				</otherwise>
			</choose>
		</where>
				
	</select>
	
	
	<update id="modify">
		update product
		<set>
			<if test="pname != null">
				pname=#{pname},
			</if>
			<if test="pdesc != null">
				pdesc=#{pdesc},
			</if>
			<if test="image != null">
				image=#{image},
			</if>
		</set>
		
		where pid=#{pid}
	</update>
	
	
	
	
	
	
	
	
	
</mapper>