<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace 命名空间  其实就是映射文件在项目中地址 -->
<mapper namespace="com.yc.damai.dao.UserMapper">

	<resultMap type="com.yc.damai.bean.User" id="baseMap">
		<collection property="orders" autoMapping="true" column="uid"
			select="com.yc.damai.dao.OrdersMapper.selectByUid" fetchType="lazy"></collection>
	</resultMap>
	
	<select id="selectById" resultMap="baseMap">
		select * from user where uid = #{uid}
	</select>
	
</mapper>