<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>login</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>书籍BookServlet</servlet-name>
		<servlet-class>com.yc.easyweb.servlet.BookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>书籍BookServlet</servlet-name>
		<url-pattern>/book.s</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>书籍类型BookTypeServlet</servlet-name>
		<servlet-class>com.yc.easyweb.servlet.BookTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>书籍类型BookTypeServlet</servlet-name>
		<url-pattern>/bookType.s</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>购物车CartServlet</servlet-name>
		<servlet-class>com.yc.easyweb.servlet.CartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>购物车CartServlet</servlet-name>
		<url-pattern>/cart.s</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>订单EorderServlet</servlet-name>
		<servlet-class>com.yc.easyweb.servlet.EorderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>订单EorderServlet</servlet-name>
		<url-pattern>/eorder.s</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>订单明细EorderitemServlet</servlet-name>
		<servlet-class>com.yc.easyweb.servlet.EorderitemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>订单明细EorderitemServlet</servlet-name>
		<url-pattern>/eorderitem.s</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>公告NoticeServlet</servlet-name>
		<servlet-class>com.yc.easyweb.servlet.NoticeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>公告NoticeServlet</servlet-name>
		<url-pattern>/notice.s</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>用户UserServlet</servlet-name>
		<servlet-class>com.yc.easyweb.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>用户UserServlet</servlet-name>
		<url-pattern>/user.s</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>权限ControlServlet</servlet-name>
		<servlet-class>com.yc.easyweb.servlet.ControlServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>权限ControlServlet</servlet-name>
		<url-pattern>/control.s</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>信息展示ShowServlet</servlet-name>
		<servlet-class>com.yc.easyweb.servlet.ShowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>信息展示ShowServlet</servlet-name>
		<url-pattern>/show.s</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>登录的JoinServlet</servlet-name>
		<servlet-class>com.yc.easyweb.servlet.JoinServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>登录的JoinServlet</servlet-name>
		<url-pattern>/join.s</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>注册验证的RegServlet</servlet-name>
		<servlet-class>com.yc.easyweb.servlet.RegServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>注册验证的RegServlet</servlet-name>
		<url-pattern>/reg.s</url-pattern>
	</servlet-mapping>

<servlet>
		<servlet-name>验证码VcodeServlet</servlet-name>
		<servlet-class>com.yc.easyweb.servlet.VcodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>验证码VcodeServlet</servlet-name>
		<url-pattern>/vcode.s</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>权限访问控制过滤器</filter-name>
		<filter-class>com.yc.easyweb.servlet.JoinFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>权限访问控制过滤器</filter-name>
		<url-pattern>/back/*</url-pattern>
		<url-pattern>/notice-detail.jsp</url-pattern>
		<url-pattern>/detail.jsp</url-pattern>
	</filter-mapping>
	<!-- 配置错误处理 -->
	<error-page>
		<error-code>404</error-code>
		<location>/back/error/not-fund.jsp</location>
	</error-page>
	<error-page>
		<error-code>505</error-code>
		<location>/back/error/paramerror.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/back/error/error.jsp</location>
	</error-page>
	<!-- 配置异常处理 -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/back/error/error.jsp</location>
	</error-page>
</web-app>